* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    user-select: none;
    -webkit-user-select: none; /* Para Safari */
    -moz-user-select: none;    /* Para Firefox */
    -ms-user-select: none;     /* Para Internet Explorer/Edge */
}

.dev {
    display: none;
}

html, body, main, canvas {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

a, a:visited, a:hover, a:active {
    color: inherit;
}

.in-game-menu {
    position: fixed;
    color: #fff;
}

.in-game-menu span {
    cursor: pointer;
    padding: 0px 1vmin;
}

.in-game-menu * {
    flex-direction: row;
    font-size: 15vmin;
}

dialog::backdrop {
    background-color: rgb(125,125,125); /* Fallback color */
    background-color: rgba(125,125,125,0.4);
}
.modal {
    background-color: #fefefe;
    color: #000;
    padding: 20px;
    border: 1px solid #888;
}

.modal-content-close {
    color: #000;
    float: right;
    font-weight: bold;
}
.modal-content-close:hover,
.modal-content-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content menu {
    list-style-type: none;
    padding: 0;
}
.modal-content li {
    cursor: pointer;
    text-align: center;
    margin: 10px;
    min-width: 100px;
}

.main-menu {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: gray;
    font-size: 2rem;
}

nav {
    display: flex;
    flex-direction: column;
}

h2 {
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.main-menu-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.main-menu.hide, .main-menu-content.hide {
    display: none;
}

.main-menu-body {
    display: flex;
    flex-direction: column;
}

.main-menu-body .menu-button {
    display: flex;
    justify-content: center;
    gap: 10px;
    white-space: nowrap;
}

.main-menu menu {
    list-style-type: none;
    padding: 0;
    max-width: 100%;
}

.main-menu li {
    background-color: white;
    color: black;
    text-align: center;
    cursor: pointer;
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 10px;
}

.main-menu-content li menu {
    overflow-y: auto;
    max-height: 45vh;
    border: 2px solid black;
    background-color: gray;
}

.menu-button .stars {
    height: 1rem;
}

.menu-button .star.checked {
    color: gold;
}

.menu-button .star:not(.checked) {
    display: none;
}

.container__title {
    text-transform: uppercase;
    display: block;
    margin-top: 2vmin;
    margin-bottom: 2vmin;
    font-size: 1.2em;
}

.main-menu menu {
    display: flex;
    gap: 0.5rem;
    row-gap: 0.5rem;
    padding: 0.5rem;
}

menu.container__body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
    counter-reset: item;
    list-style-type: none;
}

menu.container__body > li {
    width: 6rem;
    aspect-ratio: 1 / 1;
    font-size: 1rem;
    counter-increment: item;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.container__body > li::before {
    content: counter(item) "  ";
    font-size: 2rem;
}

.main-menu footer {
    position: absolute;
    bottom: 0;
    right: 0;
}

.main-menu footer menu > li {
    display: inline-block;
}

.menu-param-value {
    font-weight: bold;
}

.template {
    display: none !important;
}
