.main-menu {
    width: 100%;
    height: 100%;
    background-color: gray;
    font-size: 7vmin;
}

.main-menu-content {
    display: none;
    width: 100%;
    height: 100%;
}

.main-menu-body {
    display: flex;
    flex-direction: column;
    width: fit-content;
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.main-menu-body .menu-button {
    display: flex;
    justify-content: center;
    gap: 10px;
    white-space: nowrap;
}

.main-menu ul {
    list-style-type: none;
    padding: 0;
}

.main-menu li {
    background-color: white;
    color: black;
    text-align: center;
    cursor: pointer;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

.main-menu-content li ul {
    overflow-y: auto;
    max-height: 45vh;
    border: 2px solid black;
    background-color: gray;
}

.scrollable span {
    text-transform: uppercase;
    display: block;
    margin-top: 2vmin;
    margin-bottom: 2vmin;
}

.scrollable li {
    font-size: 6vmin;
}

.main-menu footer {
    position: absolute;
    bottom: 0;
    right: 0;
}

.main-menu footer ul > li {
    display: inline-block;
}

.menu-param-value {
    font-weight: bold;
}

[data-param-name="language"] .menu-param-value {
    display: none;
}

.template {
    display: none;
}