.side-menu {
    position: fixed;
    background-color: rgba(56, 90, 142, 0.48);
    color: #fff;
    padding: 0px 30px;
    border-radius: 5px;
    box-shadow: 1px 2px 3px rgba(163, 187, 223, 0.74);
}
.side-menu input {
    display: none;
}
.side-menu label {
    display: inline-block;
    cursor: pointer;
}
.side-menu label .bar {
    width: 35px;
    height: 5px;
    background-color: #aaa;
    margin: 6px 0;
    transition: 0.4s;
}
.side-menu-content {
    display: none;
    max-height: 100%;
    overflow: hidden;
    padding: 0 0 0 50px;
}
input:checked ~ .side-menu-content {
    display: block;
}
.side-menu ul {
    list-style-type: none;
    padding: 0;
}
.side-menu li {
    height: 20px;
    cursor: pointer;
}