* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 4vh;
}

html, body, canvas {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.menu-param-value {
    font-weight: bold;
}